<div class="comments">
  {{#each this}}
  <section class="comment mb-2 border-bottom border-1">
    <div class="meta">
      <span id="username">{{user.username}}</span> on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>