<div class="container">
  <div class="row">
    
    {{#if posts.length}}
    <section class="col">
      <div class="dashboard-heading border-bottom border-2">
        <h2>Your Posts</h2>
      </div>
      <ol>
        {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
      </ol>
    </section>
    {{/if}}
    <section class="col-4 border-start">
      <div class="dashboard-heading text-center">
        <h2>Create New Post</h2>
      </div>
      <form class="new-post-form text-end">
        <div class="data m-2">
          <label for="post-title">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div class="data m-2">
          <label for="post-content">Post</label>
          <input id="post-content" name="post-content" />
        </div>
        <button type="submit">Create</button>
      </form>
    </section>
  </div>
</div>


<script src="/javascript/add-post.js"></script>