<div class="container-fluid" >
  <div class="row justify-content-between">
    <div class="col text-end">
      <h3 class="pb-2 mb-2 border-bottom">Welcome Back!</h3>
      <form class="login-form">
        <div class="data">
          <label for="email-login">email:</label>
          <input type="text" id="email-login" />
        </div>
        <div class="data">
          <label for="password-login">password:</label>
          <input type="password" id="password-login" />
        </div>
        <div>
          <button type="submit">login</button>
        </div>
      </form>
    </div>
    <div class="col text-end">
      <h3 class="pb-2 mb-2 border-bottom"> Let's get started! </h3>
      <form class="signup-form">
        <div class="data">
          <label for="username-signup">username:</label>
          <input type="text" id="username-signup" />
        </div>
        <div class="data">
          <label for="email-signup">email:</label>
          <input type="text" id="email-signup" />
        </div>
        <div class="data">
          <label for="password-signup">password:</label>
          <input type="password" id="password-signup" />
        </div>
        <div>
          <button type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="/javascript/login.js"></script>