{{!-- load post data --}}
{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form container border-bottom border-1">
  <div class="row mb-2">
    <textarea name="comment-body"></textarea>
  </div>

  <div class="mb-2">
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
