

h1, h2, h3, a, button, .title  {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #01303f;
}

p, input, footer, .meta, label, ol li{
  font-family: 'Be Vietnam Pro', sans-serif;
}

header {
  background-color: #d4f0fc;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#blog, #dash, #logout, #login {
  margin:15px;
}

a {
  text-decoration: none;
  
}

a:hover, .title h2:hover {
  color: #02a9f7;
}

label {
  font-weight: bold;
}

button {
  border-radius: 10px;
  background-color: #89d6fb;
}

button:hover {
  background-color: #02a9f7;
  color: #d4f0fc;
}

#username {
  font-weight: bold;
  color: #02a9f7;
}

.post {
  border-bottom: 1px solid #02577a;
}

.post-content {
  height: 150px;
}

.title {
  background-color: #89d6fb;
}

input {
  word-wrap: break-word;
  border-radius: 5px;
}

.data {
  margin: 5px;
}

.comment:nth-child(odd) {
  background-color: #d4f0fc;
}

footer {
  border-top: 1px solid #02577a;
  display: flex;
  justify-content: center;
  padding: 1%;
}