

h1, h2, a, button, .title  {
  font-family: 'Mochiy Pop P One', sans-serif;
}

p, input, footer, .meta, label, ol li{
  font-family: 'Be Vietnam Pro', sans-serif;
}

header {
  background-color: #aaaaaa;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#blog, #dash, #logout, #login {
  margin:15px;
}

a {
  text-decoration: none;
  color: #1a472a
}

a:hover {
  color: white;
  background-color: #2a623d;
}

label {
  font-weight: bold;
}

button {
  border-radius: 10px;
  background-color: #1a472a;
  color: white;
}

button:hover {
  background-color: white;
  color: #1a472a;
}

#username {
  font-weight: bold;
}

.post {
  border-bottom: 1px solid #ccc;
}

.post-content {
  height: 150px;
}

input {
  word-wrap: break-word;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
}